<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .red {
            color: red;
        }
    </style>
</head>

<body>
    <div id="app">

        


        <!-- <p>Currency convertor</p>
        <label for="amount">Enter Amount</label>
        <input id="amount" type="text" v-model="inputValue">
        
        <br>
        <br>
        <p></p>
        <label for="from">Convert From</label>
        <select v-model="from" id="from">
            <option v-for="rate in rates" :value="rate">
                {{rate.txt}}
            </option>
        </select>

        <label for="to">Convert To</label>
        <select v-model="to" id="to">
            <option v-for="rate in rates" :value="rate">
                {{rate.txt}}
            </option>
        </select>

        
        <p>{{ inputValue && from && to ? `${inputValue} ${from.cc} equals ${outputValue.toFixed(2)} ${to.cc}` : ''}}</p> -->
    </div>

    <script src="./main.js"></script>
</body>

</html>